// Navbar

#products {
  position: relative;
}

.popup {
  position: absolute;
  top: 3.6rem;
  left: 2.8rem;
  display: none;
  .texts {
    background-color: #fff;
    padding: 3.2rem;
    width: 42rem;
    margin-top: -4px;
    margin-left: -6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-radius: 14px;
    li {
      display: flex;
      gap: 1.2rem;
      .text {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        .popup-heading {
          font-weight: 700;
          font-size: 1.4rem;
        }

        .popup-description {
          line-height: 1.4;
          font-size: 1.4rem;
        }
      }
    }
  }

  &.open {
    display: block;
  }
}

.header-nav {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.nav-auth {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.menu {
  display: none;
}

.section-hero {
  padding: 14rem 0;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem;

  .hero-description {
    line-height: 1.6;
  }

  .btn-signup {
    width: fit-content;
  }

  .review {
    margin-top: 2rem;
    font-size: 1.6rem;
    display: flex;
    gap: 2rem;
    .logos {
      display: flex;
      gap: 1.6rem;
    }
  }
}

.hero-img {
  width: 100%;
}

.section-featured {
  text-align: center;
  padding-bottom: 4.8rem;
}

.featured-logos {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-around;
}
